##############################################
# ignore specific to the project

jags.fit.details/
mcmc.details/
run.outputs/
#biblio/
sim.*/

CODA*.txt

##############################################
# R ignore
.Rhistory

##############################################
# ignore specific to laTeX

*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.o
*.so

##############################################
# ignore specific to windows

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

0.2.article.july.2022/Index.html
0.article/Index.html
2.last.run.gamma.2.1/1.rough/1.a.fit.old/run.outputs/2.model.wt.hier/runjagsfiles/CODAchain1.txt
2.last.run.gamma.2.1/1.rough/1.a.fit.old/run.outputs/2.model.wt.hier/runjagsfiles/CODAchain2.txt
2.last.run.gamma.2.1/1.rough/1.a.fit.old/run.outputs/2.model.wt.hier/runjagsfiles/CODAchain3.txt
2.last.run.gamma.2.1/1.rough/1.b.cross.old/run.outputs/2.model.wt.hier/runjagsfiles/CODAchain1.txt
2.last.run.gamma.2.1/1.rough/1.b.cross.old/run.outputs/2.model.wt.hier/runjagsfiles/CODAchain2.txt
2.last.run.gamma.2.1/1.rough/1.b.cross.old/run.outputs/2.model.wt.hier/runjagsfiles/CODAchain3.txt
2.last.run.gamma.2.1/1.rough/2.a.fit.new/run.outputs/2.model.wt.hier/runjagsfiles/CODAchain1.txt
2.last.run.gamma.2.1/1.rough/2.a.fit.new/run.outputs/2.model.wt.hier/runjagsfiles/CODAchain2.txt
2.last.run.gamma.2.1/1.rough/2.a.fit.new/run.outputs/2.model.wt.hier/runjagsfiles/CODAchain3.txt
2.last.run.gamma.2.1/1.rough/2.b.cross.new/run.outputs/2.model.wt.hier/runjagsfiles/CODAchain1.txt
2.last.run.gamma.2.1/1.rough/2.b.cross.new/run.outputs/2.model.wt.hier/runjagsfiles/CODAchain2.txt
2.last.run.gamma.2.1/1.rough/2.b.cross.new/run.outputs/2.model.wt.hier/runjagsfiles/CODAchain3.txt
2.last.run.gamma.2.1/1.rough/3.hindcast/runjagsfiles/CODAchain1.txt
2.last.run.gamma.2.1/1.rough/3.hindcast/runjagsfiles/CODAchain2.txt
2.last.run.gamma.2.1/1.rough/3.hindcast/runjagsfiles/CODAchain3.txt
2.last.run.gamma.2.1/2.scorff/1.a.fit.old/run.outputs/2.model.wt.hier/runjagsfiles/CODAchain1.txt
2.last.run.gamma.2.1/2.scorff/1.a.fit.old/run.outputs/2.model.wt.hier/runjagsfiles/CODAchain2.txt
2.last.run.gamma.2.1/2.scorff/1.a.fit.old/run.outputs/2.model.wt.hier/runjagsfiles/CODAchain3.txt
2.last.run.gamma.2.1/2.scorff/1.b.cross.old/run.outputs/2.model.wt.hier/runjagsfiles/CODAchain1.txt
2.last.run.gamma.2.1/2.scorff/1.b.cross.old/run.outputs/2.model.wt.hier/runjagsfiles/CODAchain2.txt
2.last.run.gamma.2.1/2.scorff/1.b.cross.old/run.outputs/2.model.wt.hier/runjagsfiles/CODAchain3.txt
2.last.run.gamma.2.1/2.scorff/2.a.fit.new/run.outputs/2.model.wt.hier/runjagsfiles/CODAchain1.txt
2.last.run.gamma.2.1/2.scorff/2.a.fit.new/run.outputs/2.model.wt.hier/runjagsfiles/CODAchain2.txt
2.last.run.gamma.2.1/2.scorff/2.a.fit.new/run.outputs/2.model.wt.hier/runjagsfiles/CODAchain3.txt
2.last.run.gamma.2.1/2.scorff/2.b.cross.new/run.outputs/2.model.wt.hier/runjagsfiles/CODAchain1.txt
2.last.run.gamma.2.1/2.scorff/2.b.cross.new/run.outputs/2.model.wt.hier/runjagsfiles/CODAchain2.txt
2.last.run.gamma.2.1/2.scorff/2.b.cross.new/run.outputs/2.model.wt.hier/runjagsfiles/CODAchain3.txt
0.2.article.july.2022/Index.html
0.2.article.july.2022/map.study.site/3.noaa.eu.data/inland/GSHHS_f_L1.shp
0.2.article.july.2022/map.study.site/3.noaa.eu.data/river.lakes.ie/WATER_RivNetRoutes.dbf
0.2.article.july.2022/map.study.site/3.noaa.eu.data/river.lakes.ie/WATER_RivNetRoutes.shp
0.2.article.july.2022/map.study.site/3.noaa.eu.data/rivers.ie/WFD_RiverSubBasins.shp
0.2.article.july.2022/map.study.site/3.noaa.eu.data/rivers.ie/WFD_RiverWaterbodies.shp
0.2.article.july.2022/map.study.site/3.noaa.eu.data/shore/GSHHS_f_L1.shp
0.2.article.july.2022/map.study.site/4.eu.data/river.lakes.ie/WATER_RivNetRoutes.dbf
0.2.article.july.2022/map.study.site/4.eu.data/river.lakes.ie/WATER_RivNetRoutes.shp
0.2.article.july.2022/map.study.site/4.eu.data/rivers.fr/TronconHydrograElt_FXX.dbf
0.2.article.july.2022/map.study.site/4.eu.data/rivers.fr/TronconHydrograElt_FXX.shp
0.2.article.july.2022/map.study.site/gadm.maps/river.lakes.ie/WATER_RivNetRoutes.dbf
0.2.article.july.2022/map.study.site/gadm.maps/river.lakes.ie/WATER_RivNetRoutes.shp
0.2.article.july.2022/map.study.site/gadm.maps/rivers.fr/TronconHydrograElt_FXX.dbf
0.2.article.july.2022/map.study.site/gadm.maps/rivers.fr/TronconHydrograElt_FXX.shp
0.2.article.july.2022/map.study.site/gadm.maps/uk/gadm41_GBR_2.shp
0.2.article.july.2022/map.study.site/gadm.maps/uk/gadm41_GBR_3.shp
0.2.article.july.2022/map.study.site/gadm.maps/uk/gadm41_GBR_4.shp
0.article/Index.html
2.last.run.gamma.2.1/1.rough/1.a.fit.old/run.outputs/2.model.wt.hier/runjagsfiles/CODAchain1.txt
2.last.run.gamma.2.1/1.rough/1.a.fit.old/run.outputs/2.model.wt.hier/runjagsfiles/CODAchain2.txt
2.last.run.gamma.2.1/1.rough/1.a.fit.old/run.outputs/2.model.wt.hier/runjagsfiles/CODAchain3.txt
2.last.run.gamma.2.1/1.rough/1.b.cross.old/run.outputs/2.model.wt.hier/runjagsfiles/CODAchain1.txt
2.last.run.gamma.2.1/1.rough/1.b.cross.old/run.outputs/2.model.wt.hier/runjagsfiles/CODAchain2.txt
2.last.run.gamma.2.1/1.rough/1.b.cross.old/run.outputs/2.model.wt.hier/runjagsfiles/CODAchain3.txt
2.last.run.gamma.2.1/1.rough/2.a.fit.new/run.outputs/2.model.wt.hier/runjagsfiles/CODAchain1.txt
2.last.run.gamma.2.1/1.rough/2.a.fit.new/run.outputs/2.model.wt.hier/runjagsfiles/CODAchain2.txt
2.last.run.gamma.2.1/1.rough/2.a.fit.new/run.outputs/2.model.wt.hier/runjagsfiles/CODAchain3.txt
2.last.run.gamma.2.1/1.rough/2.b.cross.new/run.outputs/2.model.wt.hier/runjagsfiles/CODAchain1.txt
2.last.run.gamma.2.1/1.rough/2.b.cross.new/run.outputs/2.model.wt.hier/runjagsfiles/CODAchain2.txt
2.last.run.gamma.2.1/1.rough/2.b.cross.new/run.outputs/2.model.wt.hier/runjagsfiles/CODAchain3.txt
2.last.run.gamma.2.1/1.rough/3.hindcast/runjagsfiles/CODAchain1.txt
2.last.run.gamma.2.1/1.rough/3.hindcast/runjagsfiles/CODAchain2.txt
2.last.run.gamma.2.1/1.rough/3.hindcast/runjagsfiles/CODAchain3.txt
2.last.run.gamma.2.1/2.scorff/1.a.fit.old/run.outputs/2.model.wt.hier/runjagsfiles/CODAchain1.txt
2.last.run.gamma.2.1/2.scorff/1.a.fit.old/run.outputs/2.model.wt.hier/runjagsfiles/CODAchain2.txt
2.last.run.gamma.2.1/2.scorff/1.a.fit.old/run.outputs/2.model.wt.hier/runjagsfiles/CODAchain3.txt
2.last.run.gamma.2.1/2.scorff/1.b.cross.old/run.outputs/2.model.wt.hier/runjagsfiles/CODAchain1.txt
2.last.run.gamma.2.1/2.scorff/1.b.cross.old/run.outputs/2.model.wt.hier/runjagsfiles/CODAchain2.txt
2.last.run.gamma.2.1/2.scorff/1.b.cross.old/run.outputs/2.model.wt.hier/runjagsfiles/CODAchain3.txt
2.last.run.gamma.2.1/2.scorff/2.a.fit.new/run.outputs/2.model.wt.hier/runjagsfiles/CODAchain1.txt
2.last.run.gamma.2.1/2.scorff/2.a.fit.new/run.outputs/2.model.wt.hier/runjagsfiles/CODAchain2.txt
2.last.run.gamma.2.1/2.scorff/2.a.fit.new/run.outputs/2.model.wt.hier/runjagsfiles/CODAchain3.txt
2.last.run.gamma.2.1/2.scorff/2.b.cross.new/run.outputs/2.model.wt.hier/runjagsfiles/CODAchain1.txt
2.last.run.gamma.2.1/2.scorff/2.b.cross.new/run.outputs/2.model.wt.hier/runjagsfiles/CODAchain2.txt
2.last.run.gamma.2.1/2.scorff/2.b.cross.new/run.outputs/2.model.wt.hier/runjagsfiles/CODAchain3.txt
